<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>

    <link href="../../static/css/bootstrap.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap.css}"/>

    <link href="../../static/css/my-styles.css"
          th:href="@{/css/my-styles.css}" rel="stylesheet" media="screen"/>

    <script src="../../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

</head>
<body>

    <footer class="footer container" th:fragment="footer">
        <h4>© 2020 - Halsey Z Smith</h4>
    </footer>

</body>
</html>